*{
  margin:0;
  padding:0;

}
.image{
  background-image:Url('./cover1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
  background-position: center;
}
h1{
  text-align: center;
  font-size:50px;
  color:#8e582a;
}
.fooditems{
  padding-left: 35px;
  display:flex;
  flex-wrap: wrap;
}
.dark{
  color:white;
  font-size:20px;
  text-align: center;
  padding-top:5px;
  padding-bottom:5px;
}
.button{
  padding-top:5px;
  display:flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
.fooditems{
  flex: 100%;
  padding:15px;
}

}